<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/stylesheets/normalize.css">
  
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  
  <link rel="stylesheet" href="/stylesheets/application.css">
  
  <!-- Must Use jQuery 1.7.x -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>

  <!-- Stratus Player -->
  <script type="text/javascript" src="https://stratus.soundcloud.com/stratus.js"></script>

  <!-- Sound Cloud SDK -->
  <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
  
  
  <script src="/javascript/application.js"></script>
  <title>Smoothie</title>
</head>
<body>


  <div class="container">
    <%= yield %>
  </div>



</body>
</html>
